<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>nguyen.ctrl.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationServlet</servlet-name>
        <servlet-class>nguyen.ctrl.RegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>nguyen.ctrl.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminEventShowServlet</servlet-name>
        <servlet-class>nguyen.ctrl.AdminEventShowServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminEventUserShowServlet</servlet-name>
        <servlet-class>nguyen.ctrl.AdminEventUserShowServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminEventCommentShowServlet</servlet-name>
        <servlet-class>nguyen.ctrl.AdminEventCommentShowServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUserShowServlet</servlet-name>
        <servlet-class>nguyen.ctrl.AdminUserShowServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminEventContentServlet</servlet-name>
        <servlet-class>nguyen.ctrl.AdminEventContentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminEventUpdateServlet</servlet-name>
        <servlet-class>nguyen.ctrl.AdminEventUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminFbShowServlet</servlet-name>
        <servlet-class>nguyen.ctrl.AdminFbShowServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminEventInsertServlet</servlet-name>
        <servlet-class>nguyen.ctrl.AdminEventInsertServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminEventContentUpdateServlet</servlet-name>
        <servlet-class>nguyen.ctrl.AdminEventContentUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminEventUserUpdateServlet</servlet-name>
        <servlet-class>nguyen.ctrl.AdminEventUserUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminFAQInsertServlet</servlet-name>
        <servlet-class>nguyen.ctrl.AdminFAQInsertServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminFeedbackUpdateServlet</servlet-name>
        <servlet-class>nguyen.ctrl.AdminFeedbackUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUserInsertServlet</servlet-name>
        <servlet-class>nguyen.ctrl.AdminUserInsertServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminFAQsShowServlet</servlet-name>
        <servlet-class>nguyen.ctrl.AdminFAQsShowServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminFAQUpdateServlet</servlet-name>
        <servlet-class>nguyen.ctrl.AdminFAQUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminChangePassServlet</servlet-name>
        <servlet-class>nguyen.ctrl.AdminChangePassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminReportActiveUserServlet</servlet-name>
        <servlet-class>nguyen.ctrl.AdminReportActiveUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminReportLeastEventsServlet</servlet-name>
        <servlet-class>nguyen.ctrl.AdminReportLeastEventsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminReportPopularEventsServlet</servlet-name>
        <servlet-class>nguyen.ctrl.AdminReportPopularEventsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminReportWinnerServlet</servlet-name>
        <servlet-class>nguyen.ctrl.AdminReportWinnerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassServlet</servlet-name>
        <servlet-class>nguyen.ctrl.ChangePassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnrollShowServlet</servlet-name>
        <servlet-class>nguyen.ctrl.EnrollShowServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EventDetailServlet</servlet-name>
        <servlet-class>nguyen.ctrl.EventDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EventShowServlet</servlet-name>
        <servlet-class>nguyen.ctrl.EventShowServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FAQServlet</servlet-name>
        <servlet-class>nguyen.ctrl.FAQServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackServlet</servlet-name>
        <servlet-class>nguyen.ctrl.FeedbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyEventServlet</servlet-name>
        <servlet-class>nguyen.ctrl.MyEventServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PageLoadServlet</servlet-name>
        <servlet-class>nguyen.ctrl.PageLoadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentShowServlet</servlet-name>
        <servlet-class>nguyen.ctrl.PaymentShowServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubscribeServlet</servlet-name>
        <servlet-class>nguyen.ctrl.SubscribeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UnenrollServlet</servlet-name>
        <servlet-class>nguyen.ctrl.UnenrollServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadContentServlet</servlet-name>
        <servlet-class>nguyen.ctrl.UploadContentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserProfileServlet</servlet-name>
        <servlet-class>nguyen.ctrl.UserProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadContentServlet</servlet-name>
        <servlet-class>nguyen.ctrl.DownloadContentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadServlet</servlet-name>
        <servlet-class>nguyen.ctrl.DownloadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertCommentServlet</servlet-name>
        <servlet-class>nguyen.ctrl.InsertCommentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDownloadContentServlet</servlet-name>
        <servlet-class>nguyen.ctrl.AdminDownloadContentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>nguyen.ctrl.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminEventUploadContentServlet</servlet-name>
        <servlet-class>nguyen.ctrl.AdminEventUploadContentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/HomeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationServlet</servlet-name>
        <url-pattern>/RegistrationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminEventShowServlet</servlet-name>
        <url-pattern>/AdminEventShowServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminEventUserShowServlet</servlet-name>
        <url-pattern>/AdminEventUserShowServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminEventCommentShowServlet</servlet-name>
        <url-pattern>/AdminEventCommentShowServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUserShowServlet</servlet-name>
        <url-pattern>/AdminUserShowServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminEventContentServlet</servlet-name>
        <url-pattern>/AdminEventContentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminEventUpdateServlet</servlet-name>
        <url-pattern>/AdminEventUpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminFbShowServlet</servlet-name>
        <url-pattern>/AdminFbShowServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminEventInsertServlet</servlet-name>
        <url-pattern>/AdminEventInsertServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminEventContentUpdateServlet</servlet-name>
        <url-pattern>/AdminEventContentUpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminEventUserUpdateServlet</servlet-name>
        <url-pattern>/AdminEventUserUpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminFAQInsertServlet</servlet-name>
        <url-pattern>/AdminFAQInsertServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminFeedbackUpdateServlet</servlet-name>
        <url-pattern>/AdminFeedbackUpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUserInsertServlet</servlet-name>
        <url-pattern>/AdminUserInsertServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminFAQsShowServlet</servlet-name>
        <url-pattern>/AdminFAQsShowServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminFAQUpdateServlet</servlet-name>
        <url-pattern>/AdminFAQUpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminChangePassServlet</servlet-name>
        <url-pattern>/AdminChangePassServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminReportActiveUserServlet</servlet-name>
        <url-pattern>/AdminReportActiveUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminReportLeastEventsServlet</servlet-name>
        <url-pattern>/AdminReportLeastEventsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminReportPopularEventsServlet</servlet-name>
        <url-pattern>/AdminReportPopularEventsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminReportWinnerServlet</servlet-name>
        <url-pattern>/AdminReportWinnerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassServlet</servlet-name>
        <url-pattern>/ChangePassServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnrollShowServlet</servlet-name>
        <url-pattern>/EnrollShowServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EventDetailServlet</servlet-name>
        <url-pattern>/EventDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EventShowServlet</servlet-name>
        <url-pattern>/EventShowServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FAQServlet</servlet-name>
        <url-pattern>/FAQServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackServlet</servlet-name>
        <url-pattern>/FeedbackServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyEventServlet</servlet-name>
        <url-pattern>/MyEventServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PageLoadServlet</servlet-name>
        <url-pattern>/PageLoadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentShowServlet</servlet-name>
        <url-pattern>/PaymentShowServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubscribeServlet</servlet-name>
        <url-pattern>/SubscribeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UnenrollServlet</servlet-name>
        <url-pattern>/UnenrollServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadContentServlet</servlet-name>
        <url-pattern>/UploadContentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserProfileServlet</servlet-name>
        <url-pattern>/UserProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadContentServlet</servlet-name>
        <url-pattern>/DownloadContentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadServlet</servlet-name>
        <url-pattern>/DownloadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertCommentServlet</servlet-name>
        <url-pattern>/InsertCommentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDownloadContentServlet</servlet-name>
        <url-pattern>/AdminDownloadContentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminEventUploadContentServlet</servlet-name>
        <url-pattern>/AdminEventUploadContentServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Home.jsp</welcome-file>
    </welcome-file-list>
</web-app>
